body {
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

input[type=text] {
    border: none;
    width: 50%;
    font-size: 30px;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.item {
    border: none;
    width: 50%;
    border-bottom: 1px solid grey;
    padding: 20px;
}

input[type=checkbox]+p {
    display: inline;
}
.far{
    font-size: 30px;
}

.del {
    color: #EE6E67;
}
.mark{
    color: #c0a823;
}

.item>p {
    font-size: 30px;
    color:#0054DE;
    margin: 0;
}

button {
    width: 100px;
    height: 50px;
}


.far{
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
}